<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>【Base】★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★</key>
	<string>★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★</string>
	<key>FileTypeS_XLS</key>
	<string>Base/FileTypeS_XLS.png</string>
	<key>FileTypeS_PPT</key>
	<string>Base/FileTypeS_PPT.png</string>
	<key>FileTypeS_DOC</key>
	<string>Base/FileTypeS_DOC.png</string>
	<key>FileTypeS_IMG</key>
	<string>Base/FileTypeS_IMG.png</string>
	<key>FileTypeS_VIDEO</key>
	<string>Base/FileTypeS_VIDEO.png</string>
	<key>FileTypeS_AUDIO</key>
	<string>Base/FileTypeS_AUDIO.png</string>
	<key>FileTypeS_PDF</key>
	<string>Base/FileTypeS_PDF.png</string>
	<key>FileTypeS_TXT</key>
	<string>Base/FileTypeS_TXT.png</string>
	<key>FileTypeS_XXX</key>
	<string>Base/FileTypeS_XXX.png</string>
	<key>FileTypeS_ZIP</key>
	<string>Base/FileTypeS_ZIP.png</string>
	<key>FileTypeL_XLS</key>
	<string>Base/FileTypeL_XLS.png</string>
	<key>FileTypeL_PPT</key>
	<string>Base/FileTypeL_PPT.png</string>
	<key>FileTypeL_DOC</key>
	<string>Base/FileTypeL_DOC.png</string>
	<key>FileTypeL_IMG</key>
	<string>Base/FileTypeL_IMG.png</string>
	<key>FileTypeL_VIDEO</key>
	<string>Base/FileTypeL_VIDEO.png</string>
	<key>FileTypeL_AUDIO</key>
	<string>Base/FileTypeL_AUDIO.png</string>
	<key>FileTypeL_PDF</key>
	<string>Base/FileTypeL_PDF.png</string>
	<key>FileTypeL_TXT</key>
	<string>Base/FileTypeL_TXT.png</string>
	<key>FileTypeL_XXX</key>
	<string>Base/FileTypeL_XXX.png</string>
	<key>FileTypeL_ZIP</key>
	<string>Base/FileTypeL_ZIP.png</string>
	<key>btn_NavBackDefault</key>
	<string>Base/btn_NavBackDefault.png</string>
	<key>【Common】★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★</key>
	<string>★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★</string>
	<key>icon_default_avatar</key>
	<string>Common/icon_default_avatar.png</string>
	<key>Pro_Cha</key>
	<string>Common/Pro_Cha.png</string>
	<key>Share_WXFriends</key>
	<string>Common/Share_WXFriends.png</string>
	<key>Share_WXChat</key>
	<string>Common/Share_WXChat.png</string>
	<key>Share_Image</key>
	<string>Common/Share_Image.png</string>
	<key>Share_Link</key>
	<string>Common/Share_Link.png</string>
	<key>Share_SaveImg</key>
	<string>Common/Share_SaveImg.png</string>
	<key>btn_select_up_white</key>
	<string>Common/btn_select_up_white.png</string>
	<key>btn_select_down_red</key>
	<string>Common/btn_select_down_red.png</string>
	<key>btn_select_down</key>
	<string>Common/btn_select_down.png</string>
	<key>btn_select_up_red</key>
	<string>Common/btn_select_up_red.png</string>
	<key>btn_select_up</key>
	<string>Common/btn_select_up.png</string>
	<key>btn_box_select_on</key>
	<string>Common/btn_box_select_on.png</string>
	<key>btn_box_select_off</key>
	<string>Common/btn_box_select_off.png</string>
	<key>btn_edit</key>
	<string>Common/btn_edit.png</string>
	<key>WQNewVersion_Header</key>
	<string>Common/WQNewVersion_Header.png</string>
	<key>QRCode_box</key>
	<string>Common/QRCode_box.png</string>
	<key>QRCode_line</key>
	<string>Common/QRCode_line.png</string>
	<key>QRCode_AppDownload</key>
	<string>Common/QRCode_AppDownload.png</string>
	<key>btn_NavBack</key>
	<string>Common/btn_NavBack.png</string>
	<key>btn_NavShare</key>
	<string>Common/btn_NavShare.png</string>
	<key>btn_NavCart</key>
	<string>Common/btn_NavCart.png</string>
	<key>btn_NavFilter</key>
	<string>Common/btn_NavFilter.png</string>
	<key>btn_NavQRCode_W</key>
	<string>Common/btn_NavQRCode_W.png</string>
	<key>btn_NavQRCode_B</key>
	<string>Common/btn_NavQRCode_B.png</string>
	<key>btn_NavMoreV_Gray</key>
	<string>Common/btn_NavMoreV_Gray.png</string>
	<key>line_NavigationBar</key>
	<string>Common/line_NavigationBar.png</string>
	<key>placeholder_image</key>
	<string>Common/placeholder_image.png</string>
	<key>btn_cha</key>
	<string>Common/btn_cha.png</string>
	<key>btn_cha2</key>
	<string>Common/btn_cha2.png</string>
	<key>btn_cha3</key>
	<string>Common/btn_cha3.png</string>
	<key>btn_cha4</key>
	<string>Common/btn_cha4.png</string>
	<key>ico_delete</key>
	<string>Common/ico_delete.png</string>
	<key>ico_success</key>
	<string>Common/ico_success.png</string>
	<key>ico_search</key>
	<string>Common/ico_search.png</string>
	<key>ico_order_down</key>
	<string>Common/ico_order_down.png</string>
	<key>ico_order_up</key>
	<string>Common/ico_order_up.png</string>
	<key>ico_order_none</key>
	<string>Common/ico_order_none.png</string>
	<key>btn_arrow_right</key>
	<string>Common/btn_arrow_right.png</string>
	<key>btn_cell_arrow_gray</key>
	<string>Common/btn_cell_arrow_gray.png</string>
	<key>btn_cell_arrow_grayD</key>
	<string>Common/btn_cell_arrow_grayD.png</string>
	<key>btn_cell_arrow_black</key>
	<string>Common/btn_cell_arrow_black.png</string>
	<key>btn_cell_arrow_red</key>
	<string>Common/btn_cell_arrow_red.png</string>
	<key>btn_cell_arrow_littleW</key>
	<string>Common/btn_cell_arrow_littleW.png</string>
	<key>btn_cell_cha</key>
	<string>Common/btn_cell_cha.png</string>
	<key>btn_assistant</key>
	<string>Common/btn_assistant.png</string>
	<key>btn_fav_Nor</key>
	<string>Common/btn_fav_Nor.png</string>
	<key>btn_fav_Sel</key>
	<string>Common/btn_fav_Sel.png</string>
	<key>empty_image</key>
	<string>Common/empty_image.png</string>
	<key>empty_image1</key>
	<string>Common/empty_image1.png</string>
	<key>ico_operation_YES</key>
	<string>Common/ico_operation_YES.png</string>
	<key>ico_operation_NO</key>
	<string>Common/ico_operation_NO.PNG</string>
	<key>ico_plus</key>
	<string>Common/ico_plus.png</string>
	<key>ico_help</key>
	<string>Common/ico_help.png</string>
	<key>pay_weixin</key>
	<string>Common/pay_weixin.png</string>
	<key>pay_wallet</key>
	<string>Common/pay_wallet.png</string>
	<key>pay_pos</key>
	<string>Common/pay_pos.png</string>
	<key>pay_store</key>
	<string>Common/pay_store.png</string>
	<key>btn_Nav_Scan</key>
	<string>Common/btn_Nav_Scan.png</string>
	<key>btn_Nav_Search</key>
	<string>Common/btn_Nav_Search.png</string>
	<key>btn_Nav_Shop</key>
	<string>Common/btn_Nav_Shop.png</string>
	<key>ico_success1</key>
	<string>Common/ico_success1.png</string>
</dict>
</plist>
