<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>【通用】★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★</key>
	<string>★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★</string>
	<key>KKLibLocalizable.Common.OK</key>
	<string>确定</string>
	<key>KKLibLocalizable.Common.Notice</key>
	<string>温馨提示</string>
	<key>KKLibLocalizable.Common.Previous</key>
	<string>上一个</string>
	<key>KKLibLocalizable.Common.Next</key>
	<string>下一个</string>
	<key>KKLibLocalizable.Common.Done</key>
	<string>完成</string>
	<key>KKLibLocalizable.Common.Cancel</key>
	<string>取消</string>
	<key>KKLibLocalizable.Common.Back</key>
	<string>返回</string>
	<key>KKLibLocalizable.Common.Close</key>
	<string>关闭</string>
	<key>KKLibLocalizable.Common.Copy</key>
	<string>拷贝</string>
	<key>KKLibLocalizable.Common.Save</key>
	<string>保存</string>
	<key>KKLibLocalizable.Common.SaveToAlbum</key>
	<string>保存到手机相册</string>
	<key>KKLibLocalizable.Common.Success</key>
	<string>成功</string>
	<key>KKLibLocalizable.Common.Failed</key>
	<string>失败</string>
	<key>KKLibLocalizable.Common.CopyLink</key>
	<string>复制链接</string>
	<key>KKLibLocalizable.Common.OpenInSafari</key>
	<string>在浏览器中打开</string>
	<key>KKLibLocalizable.Common.OpenInOtherApp</key>
	<string>在其他应用中打开</string>
	<key>KKLibLocalizable.Common.Refresh</key>
	<string>刷新</string>
	<key>KKLibLocalizable.Common.FileError</key>
	<string>文件错误</string>
	<key>KKLibLocalizable.Common.CannotOpenURL</key>
	<string>无法打开网页</string>
	<key>【相册文件夹类型名字】★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★</key>
	<string>★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★</string>
	<key>KKLibLocalizable.Album.ImageStream</key>
	<string>我的照片流</string>
	<key>KKLibLocalizable.Album.UserLibrary</key>
	<string>相机胶卷</string>
	<key>KKLibLocalizable.Album.Panoramas</key>
	<string>全景照片</string>
	<key>KKLibLocalizable.Album.Videos</key>
	<string>视频</string>
	<key>KKLibLocalizable.Album.Favorites</key>
	<string>个人收藏</string>
	<key>KKLibLocalizable.Album.Timelapses</key>
	<string>延时摄影</string>
	<key>KKLibLocalizable.Album.RecentlyAdded</key>
	<string>最近添加</string>
	<key>KKLibLocalizable.Album.Bursts</key>
	<string>连拍快照</string>
	<key>KKLibLocalizable.Album.SlomoVideos</key>
	<string>慢动作</string>
	<key>KKLibLocalizable.Album.SelfPortraits</key>
	<string>自拍</string>
	<key>KKLibLocalizable.Album.Screenshots</key>
	<string>屏幕快照</string>
	<key>KKLibLocalizable.Album.DepthEffect</key>
	<string>人像</string>
	<key>KKLibLocalizable.Album.LivePhotos</key>
	<string>实况照片</string>
	<key>KKLibLocalizable.Album.Animated</key>
	<string>动图</string>
	<key>KKLibLocalizable.Album.RecentlyDeleted</key>
	<string>最近删除</string>
	<key>KKLibLocalizable.Album.AllPhotos</key>
	<string>所有照片</string>
	<key>KKLibLocalizable.Album.DefaultName</key>
	<string>图库</string>
	<key>KKLibLocalizable.Album.ImageCut</key>
	<string>图片裁切</string>
	<key>KKLibLocalizable.Album.Photo</key>
	<string>照片</string>
	<key>KKLibLocalizable.Album.Preview</key>
	<string>预览</string>
	<key>KKLibLocalizable.Album.Origin</key>
	<string>原图</string>
	<key>KKLibLocalizable.Album.Edit</key>
	<string>编辑</string>
	<key>KKLibLocalizable.Album.MaxLimited</key>
	<string>已达到最大数量限制</string>
	<key>【隐私授权】★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★</key>
	<string>★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★</string>
	<key>KKLibLocalizable.Authorized.AddressBook</key>
	<string>需要访问通讯录权限，请前往【设置-隐私-通讯录】中进行授权设置</string>
	<key>KKLibLocalizable.Authorized.Album</key>
	<string>需要访问照片权限，请前往【设置-隐私-照片】中进行授权设置</string>
	<key>KKLibLocalizable.Authorized.Camera</key>
	<string>需要访问相机权限，请前往【设置-隐私-相机】中进行授权设置</string>
	<key>KKLibLocalizable.Authorized.Location</key>
	<string>需要访问定位服务权限，请前往【设置-隐私-定位服务】中进行授权设置</string>
	<key>KKLibLocalizable.Authorized.Microphone</key>
	<string>需要访问麦克风权限，请前往【设置-隐私-麦克风】中进行授权设置</string>
	<key>KKLibLocalizable.Authorized.Notification</key>
	<string>需要访问通知权限，请前往【设置-隐私-通知】中进行授权设置</string>
	<key>KKLibLocalizable.Authorized.Music</key>
	<string>需要访问媒体与Apple Music权限，请前往【设置-隐私-媒体与Apple Music】中进行授权设置</string>
	<key>KKLibLocalizable.Authorized.CellularData</key>
	<string>需要访问蜂窝移动数据权限，请前往【设置-隐私-蜂窝移动数据】中进行授权设置</string>
	<key>KKLibLocalizable.Authorized.OK</key>
	<string>好</string>
	<key>KKLibLocalizable.Authorized.Go</key>
	<string>去设置</string>
	<key>KKLibLocalizable.Authorized.title</key>
	<string>请授权访问</string>
	<key>【时间格式】★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★</key>
	<string>★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★</string>
	<key>KKLibLocalizable.Date.Year</key>
	<string>年</string>
	<key>KKLibLocalizable.Date.Month</key>
	<string>月</string>
	<key>KKLibLocalizable.Date.Day</key>
	<string>日</string>
	<key>KKLibLocalizable.Date.Hour</key>
	<string>时</string>
	<key>KKLibLocalizable.Date.Min</key>
	<string>分</string>
	<key>KKLibLocalizable.Date.Sec</key>
	<string>秒</string>
	<key>【刷新加载数据】★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★</key>
	<string>★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★</string>
	<key>KKLibLocalizable.refresh.LoadMoreC</key>
	<string>点击加载更多...</string>
	<key>KKLibLocalizable.refresh.LoadMoreP</key>
	<string>上拉加载更多...</string>
	<key>KKLibLocalizable.refresh.LoadMore</key>
	<string>加载更多...</string>
	<key>KKLibLocalizable.refresh.NoMore</key>
	<string>没有更多了</string>
	<key>KKLibLocalizable.refresh.Loading</key>
	<string>加载中...</string>
	<key>KKLibLocalizable.refresh.ReleaseLoad</key>
	<string>释放加载</string>
	<key>KKLibLocalizable.refresh.P</key>
	<string>下拉刷新</string>
	<key>KKLibLocalizable.refresh.R</key>
	<string>释放更新</string>
	<key>【音视频播放-查看文档】★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★</key>
	<string>★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★</string>
	<key>KKLibLocalizable.AudioPlay</key>
	<string>音频播放</string>
	<key>KKLibLocalizable.FileShow</key>
	<string>查看文档</string>
	<key>KKLibLocalizable.FileShow.OpenWithOtherApp</key>
	<string>用第三方应用打开</string>
	<key>KKLibLocalizable.FileShow.NotSupportFile</key>
	<string>暂不支持预览改格式的文件</string>
	<key>【音视频录制】★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★</key>
	<string>★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★</string>
	<key>KKLibLocalizable.AudioKit.FingerOut</key>
	<string>手指松开，取消发送</string>
	<key>KKLibLocalizable.AudioKit.FingerUp</key>
	<string>手指上滑，取消发送</string>
	<key>KKLibLocalizable.AudioKit.TimeTooShort</key>
	<string>说话时间太短</string>
	<key>【二维码扫描】★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★</key>
	<string>★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★</string>
	<key>KKLibLocalizable.QRCode.Title</key>
	<string>扫描二维码</string>
	<key>KKLibLocalizable.QRCode.Notice</key>
	<string>将二维码放入框内，即可自动扫描</string>
	<key>KKLibLocalizable.QRCode.Failed</key>
	<string>二维码扫码失败,请重新扫描</string>
	<key>★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★</key>
	<string>★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★</string>
</dict>
</plist>
