<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>App Store【App Store】</string>
		<key>scheme</key>
		<string>itms-apps://itunes.apple.com</string>
		<key>show_default</key>
		<string>1</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id</string>
	</dict>
	<dict>
		<key>name</key>
		<string>FaceTime【FaceTime】</string>
		<key>scheme</key>
		<string>videos://</string>
		<key>show_default</key>
		<string>1</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id1110145091</string>
	</dict>
	<dict>
		<key>name</key>
		<string>iPhoneを探す【Find iPhones】</string>
		<key>scheme</key>
		<string>fmip1://</string>
		<key>show_default</key>
		<string>1</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id376101648</string>
	</dict>
	<dict>
		<key>name</key>
		<string>iTunes Store【iTunes Store】</string>
		<key>scheme</key>
		<string>itms://</string>
		<key>show_default</key>
		<string>1</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id915061235</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Music【Music】</string>
		<key>scheme</key>
		<string>music://</string>
		<key>show_default</key>
		<string>1</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id1108187390</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Safari【Safari】</string>
		<key>scheme</key>
		<string>x-web-search://</string>
		<key>show_default</key>
		<string>1</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Wallet【Wallet】</string>
		<key>scheme</key>
		<string>shoebox://</string>
		<key>show_default</key>
		<string>1</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id1160481993</string>
	</dict>
	<dict>
		<key>name</key>
		<string>カレンダー【Calendar】</string>
		<key>scheme</key>
		<string>calshow://</string>
		<key>show_default</key>
		<string>1</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id1108185179</string>
	</dict>
	<dict>
		<key>name</key>
		<string>友達を探す【Find Friends】</string>
		<key>scheme</key>
		<string>findmyfriends://</string>
		<key>show_default</key>
		<string>1</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id466122094</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ビデオ【Videos】</string>
		<key>scheme</key>
		<string>videos://</string>
		<key>show_default</key>
		<string>1</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id1174078549</string>
	</dict>
	<dict>
		<key>name</key>
		<string>マップ【Maps】</string>
		<key>scheme</key>
		<string>maps://</string>
		<key>show_default</key>
		<string>1</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id915056765</string>
	</dict>
	<dict>
		<key>name</key>
		<string>メール【Mail】</string>
		<key>scheme</key>
		<string>message://</string>
		<key>show_default</key>
		<string>1</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id1108187098</string>
	</dict>
	<dict>
		<key>name</key>
		<string>メッセージ【Messages】</string>
		<key>scheme</key>
		<string>sms: （新規作成）</string>
		<key>show_default</key>
		<string>1</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id</string>
	</dict>
	<dict>
		<key>name</key>
		<string>メモ【Notes】</string>
		<key>scheme</key>
		<string>mobilenotes://</string>
		<key>show_default</key>
		<string>1</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id1110145109</string>
	</dict>
	<dict>
		<key>name</key>
		<string>写真【Photos】</string>
		<key>scheme</key>
		<string>photos-redirect://</string>
		<key>show_default</key>
		<string>1</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id</string>
	</dict>
	<dict>
		<key>name</key>
		<string>探す【Find My】</string>
		<key>scheme</key>
		<string>findmy://</string>
		<key>show_default</key>
		<string>1</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id1514844621</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Apple Store【Apple Store】</string>
		<key>scheme</key>
		<string>applestore://</string>
		<key>show_default</key>
		<string>0</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id375380948</string>
	</dict>
	<dict>
		<key>name</key>
		<string>+メッセージ【】</string>
		<key>scheme</key>
		<string>pmsg://</string>
		<key>show_default</key>
		<string>1</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id1358576433</string>
	</dict>
	<dict>
		<key>name</key>
		<string>docomo災害用キット【】</string>
		<key>scheme</key>
		<string>saigai-docomo-top://</string>
		<key>show_default</key>
		<string>1</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id747776009</string>
	</dict>
	<dict>
		<key>name</key>
		<string>dTV【】</string>
		<key>scheme</key>
		<string>com.nttdocomo.mb.dvideo.launchplayer://</string>
		<key>show_default</key>
		<string>1</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id705923000</string>
	</dict>
	<dict>
		<key>name</key>
		<string>dアニメストア【】</string>
		<key>scheme</key>
		<string>jp.co.nttdocomo.animestore.launchStmPlayer://</string>
		<key>show_default</key>
		<string>1</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id728214964</string>
	</dict>
	<dict>
		<key>name</key>
		<string>dカーシェア【】</string>
		<key>scheme</key>
		<string>dcmdcs://</string>
		<key>show_default</key>
		<string>1</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id1245567844</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ｄジョブスマホワーク【】</string>
		<key>scheme</key>
		<string>djobsw://</string>
		<key>show_default</key>
		<string>1</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id1292520936</string>
	</dict>
	<dict>
		<key>name</key>
		<string>dヒッツ【】</string>
		<key>scheme</key>
		<string>dhits://</string>
		<key>show_default</key>
		<string>1</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id712135594</string>
	</dict>
	<dict>
		<key>name</key>
		<string>dブックマイ本棚【】</string>
		<key>scheme</key>
		<string>com-nttdocomo-dbook://</string>
		<key>show_default</key>
		<string>1</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id1536676731</string>
	</dict>
	<dict>
		<key>name</key>
		<string>dマガジン【】</string>
		<key>scheme</key>
		<string>com-nttdocomo-dmagazine://</string>
		<key>show_default</key>
		<string>1</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id859681456</string>
	</dict>
	<dict>
		<key>name</key>
		<string>dミュージック【】</string>
		<key>scheme</key>
		<string>dcmmusic://</string>
		<key>show_default</key>
		<string>1</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id711338889</string>
	</dict>
	<dict>
		<key>name</key>
		<string>d払い【】</string>
		<key>scheme</key>
		<string>dpayment://</string>
		<key>show_default</key>
		<string>1</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id1328132872</string>
	</dict>
	<dict>
		<key>name</key>
		<string>dポイントクラブ【】</string>
		<key>scheme</key>
		<string>com.nttdocomo.dpoint.idmanager://</string>
		<key>show_default</key>
		<string>1</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id821434357</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Move＆Flick【】</string>
		<key>scheme</key>
		<string>MoveAndFlick://</string>
		<key>show_default</key>
		<string>1</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id1021424958</string>
	</dict>
	<dict>
		<key>name</key>
		<string>my daiz【】</string>
		<key>scheme</key>
		<string>com.nttdocomo.dagent://</string>
		<key>show_default</key>
		<string>0</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id723302114</string>
	</dict>
	<dict>
		<key>name</key>
		<string>My docomo【】</string>
		<key>scheme</key>
		<string>MyDocomo://</string>
		<key>show_default</key>
		<string>1</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id1086821669</string>
	</dict>
	<dict>
		<key>name</key>
		<string>AbemaTV 【】</string>
		<key>scheme</key>
		<string>abematv://</string>
		<key>show_default</key>
		<string>0</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id1074866833</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Amazon【Amazon】</string>
		<key>scheme</key>
		<string>com.amazon.mobile.shopping://</string>
		<key>show_default</key>
		<string>0</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id374254473</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ameba【】</string>
		<key>scheme</key>
		<string>jpameblo://</string>
		<key>show_default</key>
		<string>0</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id349442137</string>
	</dict>
	<dict>
		<key>name</key>
		<string>【Bitmoji】</string>
		<key>scheme</key>
		<string>imoji://</string>
		<key>show_default</key>
		<string>0</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id868077558</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bmaps【Bmaps】</string>
		<key>scheme</key>
		<string>bmapsapp://</string>
		<key>show_default</key>
		<string>0</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id1088807625</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Chrome【Chrome】</string>
		<key>scheme</key>
		<string>googlechrome://</string>
		<key>show_default</key>
		<string>0</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id535886823</string>
	</dict>
	<dict>
		<key>name</key>
		<string>【DoorDash】</string>
		<key>scheme</key>
		<string>doordash://</string>
		<key>show_default</key>
		<string>0</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id719972451</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Facebook【Facebook】</string>
		<key>scheme</key>
		<string>fb://</string>
		<key>show_default</key>
		<string>0</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id284882215</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Google Earth【Google Earth】</string>
		<key>scheme</key>
		<string>geo://</string>
		<key>show_default</key>
		<string>0</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id293622097</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Google Maps【Google Maps】</string>
		<key>scheme</key>
		<string>comgooglemaps://</string>
		<key>show_default</key>
		<string>0</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id585027354</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Google Mobile App【Google Mobile App】</string>
		<key>scheme</key>
		<string>googleapp://</string>
		<key>show_default</key>
		<string>0</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id284815942</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Google Translate【Google Translate】</string>
		<key>scheme</key>
		<string>googletranslate://</string>
		<key>show_default</key>
		<string>0</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id414706506</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Google ドライブ【】</string>
		<key>scheme</key>
		<string>googledrive://</string>
		<key>show_default</key>
		<string>0</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id507874739</string>
	</dict>
	<dict>
		<key>name</key>
		<string>【Google Photos】</string>
		<key>scheme</key>
		<string>googlephotos://</string>
		<key>show_default</key>
		<string>0</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id962194608</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Gyao!【】</string>
		<key>scheme</key>
		<string>yjgyao://</string>
		<key>show_default</key>
		<string>0</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id288091002</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Instagram【Instagram】</string>
		<key>scheme</key>
		<string>instagram://</string>
		<key>show_default</key>
		<string>0</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id389801252</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Kindle【Amazon Kindle】</string>
		<key>scheme</key>
		<string>kindle://</string>
		<key>show_default</key>
		<string>0</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id302584613</string>
	</dict>
	<dict>
		<key>name</key>
		<string>LINE【LINE】</string>
		<key>scheme</key>
		<string>line://nv/chat</string>
		<key>show_default</key>
		<string>0</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id443904275</string>
	</dict>
	<dict>
		<key>name</key>
		<string>LINE MUSIC【】</string>
		<key>scheme</key>
		<string>linemusic://</string>
		<key>show_default</key>
		<string>0</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id966142320</string>
	</dict>
	<dict>
		<key>name</key>
		<string>【Lyft】</string>
		<key>scheme</key>
		<string>lyft://</string>
		<key>show_default</key>
		<string>0</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id529379082</string>
	</dict>
	<dict>
		<key>name</key>
		<string>【Messenger】</string>
		<key>scheme</key>
		<string>fb-messenger://</string>
		<key>show_default</key>
		<string>0</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id454638411</string>
	</dict>
	<dict>
		<key>name</key>
		<string>mixi【mixi】</string>
		<key>scheme</key>
		<string>mixi://</string>
		<key>show_default</key>
		<string>0</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id285951864</string>
	</dict>
	<dict>
		<key>name</key>
		<string>NAVITIME for iPhone【】</string>
		<key>scheme</key>
		<string>navitime://</string>
		<key>show_default</key>
		<string>0</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id365876050</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Netflix【Netflix】</string>
		<key>scheme</key>
		<string>nflx://</string>
		<key>show_default</key>
		<string>0</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id363590051</string>
	</dict>
	<dict>
		<key>name</key>
		<string>NHKらじるらじる【】</string>
		<key>scheme</key>
		<string>nhknetradio://</string>
		<key>show_default</key>
		<string>0</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id473937342</string>
	</dict>
	<dict>
		<key>name</key>
		<string>niconico【】</string>
		<key>scheme</key>
		<string>nicovideo://</string>
		<key>show_default</key>
		<string>0</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id307764057</string>
	</dict>
	<dict>
		<key>name</key>
		<string>radiko.jp【】</string>
		<key>scheme</key>
		<string>radiko://</string>
		<key>show_default</key>
		<string>0</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id370515585</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Simplenote【Simplenote】</string>
		<key>scheme</key>
		<string>simplenote://</string>
		<key>show_default</key>
		<string>0</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id289429962</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sleep Meister 【Sleep Meister 】</string>
		<key>scheme</key>
		<string>sleepmeisterlite://</string>
		<key>show_default</key>
		<string>0</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id599456380</string>
	</dict>
	<dict>
		<key>name</key>
		<string>【Snapchat】</string>
		<key>scheme</key>
		<string>snapchat://</string>
		<key>show_default</key>
		<string>0</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id447188370</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Spotify【Spotify】</string>
		<key>scheme</key>
		<string>spotify://</string>
		<key>show_default</key>
		<string>0</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id324684580</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TikTok【TikTok】</string>
		<key>scheme</key>
		<string>snssdk1180://</string>
		<key>show_default</key>
		<string>0</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id1235601864</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TimeTree【TimeTree】</string>
		<key>scheme</key>
		<string>timetree://</string>
		<key>show_default</key>
		<string>0</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id952578473</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TRILL【】</string>
		<key>scheme</key>
		<string>trill://</string>
		<key>show_default</key>
		<string>0</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id933166032</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Twitter【Twitter】</string>
		<key>scheme</key>
		<string>twitter://</string>
		<key>show_default</key>
		<string>0</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id333903271</string>
	</dict>
	<dict>
		<key>name</key>
		<string>【Uber】</string>
		<key>scheme</key>
		<string>uber://</string>
		<key>show_default</key>
		<string>0</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id368677368</string>
	</dict>
	<dict>
		<key>name</key>
		<string>【Uber Eats】</string>
		<key>scheme</key>
		<string>ubereats://</string>
		<key>show_default</key>
		<string>0</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id1058959277</string>
	</dict>
	<dict>
		<key>name</key>
		<string>UDCast【UDCast】</string>
		<key>scheme</key>
		<string>udcast://</string>
		<key>show_default</key>
		<string>0</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id899342269</string>
	</dict>
	<dict>
		<key>name</key>
		<string>UDトーク【UDTalk】</string>
		<key>scheme</key>
		<string>udtalkapp://</string>
		<key>show_default</key>
		<string>0</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id666188441</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Uni-VoiceBlind【Uni-VoiceBlind】</string>
		<key>scheme</key>
		<string>univoiceblind://</string>
		<key>show_default</key>
		<string>0</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id1070819206</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ustream【Ustream】</string>
		<key>scheme</key>
		<string>ustream://</string>
		<key>show_default</key>
		<string>0</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id301520250</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Yahoo!乗換案内【】</string>
		<key>scheme</key>
		<string>ytransit://</string>
		<key>show_default</key>
		<string>0</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id291676451</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Yahoo!天気・災害【】</string>
		<key>scheme</key>
		<string>yjweather://</string>
		<key>show_default</key>
		<string>0</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id521974902</string>
	</dict>
	<dict>
		<key>name</key>
		<string>【Yelp】</string>
		<key>scheme</key>
		<string>yelp://</string>
		<key>show_default</key>
		<string>0</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id284910350</string>
	</dict>
	<dict>
		<key>name</key>
		<string>YouTube【YouTube】</string>
		<key>scheme</key>
		<string>youtube://</string>
		<key>show_default</key>
		<string>0</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id544007664</string>
	</dict>
	<dict>
		<key>name</key>
		<string>YouTube Music【YouTube Music】</string>
		<key>scheme</key>
		<string>youtubemusic://</string>
		<key>show_default</key>
		<string>0</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id1017492454</string>
	</dict>
	<dict>
		<key>name</key>
		<string>カンタン！アプリLV【】</string>
		<key>scheme</key>
		<string>com.trad-inc.TradRakuRakuAppV2://</string>
		<key>show_default</key>
		<string>0</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id1039738770</string>
	</dict>
	<dict>
		<key>name</key>
		<string>グノシー【】</string>
		<key>scheme</key>
		<string>gunosy://</string>
		<key>show_default</key>
		<string>0</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id590384791</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ぐるなび【】</string>
		<key>scheme</key>
		<string>gnavi://</string>
		<key>show_default</key>
		<string>0</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id311691979</string>
	</dict>
	<dict>
		<key>name</key>
		<string>じゃらん【】</string>
		<key>scheme</key>
		<string>jalan://</string>
		<key>show_default</key>
		<string>0</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id366264405</string>
	</dict>
	<dict>
		<key>name</key>
		<string>スポーツナビ【】</string>
		<key>scheme</key>
		<string>yj-sports-sportsnavi://</string>
		<key>show_default</key>
		<string>0</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id1034165102</string>
	</dict>
	<dict>
		<key>name</key>
		<string>スポーツブル（スポブル）【】</string>
		<key>scheme</key>
		<string>sportsbull://</string>
		<key>show_default</key>
		<string>0</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id1086719653</string>
	</dict>
	<dict>
		<key>name</key>
		<string>スポナビ　プロ野球速報【】</string>
		<key>scheme</key>
		<string>yj-sports-npblive://</string>
		<key>show_default</key>
		<string>0</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id720087913</string>
	</dict>
	<dict>
		<key>name</key>
		<string>スマートニュース【】</string>
		<key>scheme</key>
		<string>jp.gocro.smartnews://</string>
		<key>show_default</key>
		<string>0</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id579581125</string>
	</dict>
	<dict>
		<key>name</key>
		<string>セブンイレブン【】</string>
		<key>scheme</key>
		<string>sejapp://</string>
		<key>show_default</key>
		<string>0</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id1039171609</string>
	</dict>
	<dict>
		<key>name</key>
		<string>全国タクシー【】</string>
		<key>scheme</key>
		<string>japantaxi://</string>
		<key>show_default</key>
		<string>0</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id481647073</string>
	</dict>
	<dict>
		<key>name</key>
		<string>全国地下鉄ナビ【】</string>
		<key>scheme</key>
		<string>jp.co.hyojito://</string>
		<key>show_default</key>
		<string>0</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id605720134</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ニュースパス【】</string>
		<key>scheme</key>
		<string>newspass://</string>
		<key>show_default</key>
		<string>0</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id1106788059</string>
	</dict>
	<dict>
		<key>name</key>
		<string>バリアフリー情報共有 FunGoOut【】</string>
		<key>scheme</key>
		<string>fungoout://</string>
		<key>show_default</key>
		<string>0</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id877958132</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ピッコマ【】</string>
		<key>scheme</key>
		<string>piccoma://</string>
		<key>show_default</key>
		<string>0</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id1091496983</string>
	</dict>
	<dict>
		<key>name</key>
		<string>フリマアプリ　メルカリ【】</string>
		<key>scheme</key>
		<string>mercari://</string>
		<key>show_default</key>
		<string>0</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id667861049</string>
	</dict>
	<dict>
		<key>name</key>
		<string>防災情報　全国避難所ガイド【】</string>
		<key>scheme</key>
		<string>hinanjyojp://</string>
		<key>show_default</key>
		<string>0</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id446063625</string>
	</dict>
	<dict>
		<key>name</key>
		<string>マクドナルド公式アプリ【】</string>
		<key>scheme</key>
		<string>mcdonaldsjp://</string>
		<key>show_default</key>
		<string>0</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id413618155</string>
	</dict>
	<dict>
		<key>name</key>
		<string>みずほWallet【】</string>
		<key>scheme</key>
		<string>mizuhoapp://</string>
		<key>show_default</key>
		<string>0</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id514516831</string>
	</dict>
	<dict>
		<key>name</key>
		<string>三井住友銀行アプリ【】</string>
		<key>scheme</key>
		<string>jp.co.smbc.direct://</string>
		<key>show_default</key>
		<string>0</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id594457652</string>
	</dict>
	<dict>
		<key>name</key>
		<string>三菱UFJ銀行【】</string>
		<key>scheme</key>
		<string>jp.mufg.bk.applisp.01://</string>
		<key>show_default</key>
		<string>0</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id494502212</string>
	</dict>
	<dict>
		<key>name</key>
		<string>モバイルSuica【】</string>
		<key>scheme</key>
		<string>MPDeviceLaunchByBrowser://</string>
		<key>show_default</key>
		<string>0</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id1156875272</string>
	</dict>
	<dict>
		<key>name</key>
		<string>楽天市場【】</string>
		<key>scheme</key>
		<string>Rakuten://</string>
		<key>show_default</key>
		<string>0</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id419267350</string>
	</dict>
	<dict>
		<key>name</key>
		<string>楽天銀行【】</string>
		<key>scheme</key>
		<string>rakutenbank://</string>
		<key>show_default</key>
		<string>0</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id391048295</string>
	</dict>
	<dict>
		<key>name</key>
		<string>楽天ポイントカード【】</string>
		<key>scheme</key>
		<string>pointpartner://</string>
		<key>show_default</key>
		<string>0</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id911334571</string>
	</dict>
	<dict>
		<key>name</key>
		<string>楽天ポイント管理アプリ～楽天PointClub～【】</string>
		<key>scheme</key>
		<string>pointclub://</string>
		<key>show_default</key>
		<string>0</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id641501350</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ローソン【】</string>
		<key>scheme</key>
		<string>lawson://</string>
		<key>show_default</key>
		<string>0</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id515191813</string>
	</dict>
	<dict>
		<key>name</key>
		<string>駅すぱあと【】</string>
		<key>scheme</key>
		<string>ekispert://</string>
		<key>show_default</key>
		<string>0</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id463431091</string>
	</dict>
	<dict>
		<key>name</key>
		<string>駅探　乗換案内【】</string>
		<key>scheme</key>
		<string>com.ekitan.EkitanTransit://</string>
		<key>show_default</key>
		<string>0</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id524306589</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Kinoppy【】</string>
		<key>scheme</key>
		<string>kinoppy://</string>
		<key>show_default</key>
		<string>0</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id434562274</string>
	</dict>
	<dict>
		<key>name</key>
		<string>産経新聞【】</string>
		<key>scheme</key>
		<string>sankei-shimbun://</string>
		<key>show_default</key>
		<string>0</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id372332300</string>
	</dict>
	<dict>
		<key>name</key>
		<string>乗換NAVITIME【】</string>
		<key>scheme</key>
		<string>navitimetransfer://</string>
		<key>show_default</key>
		<string>0</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id528532387</string>
	</dict>
	<dict>
		<key>name</key>
		<string>乗換案内【】</string>
		<key>scheme</key>
		<string>yjtransit://</string>
		<key>show_default</key>
		<string>0</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id299490481</string>
	</dict>
	<dict>
		<key>name</key>
		<string>食べログ【】</string>
		<key>scheme</key>
		<string>fb389986581019224tabelog://</string>
		<key>show_default</key>
		<string>0</string>
		<key>download_url</key>
		<string>itms-apps://itunes.apple.com/app/id763377066</string>
	</dict>
</array>
</plist>
